<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.diagnostics>
        <sources>
            <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning, ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelTraceListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
            <source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
                <listeners>
                    <add type="System.Diagnostics.DefaultTraceListener" name="Default">
                        <filter type="" />
                    </add>
                    <add name="ServiceModelMessageLoggingListener">
                        <filter type="" />
                    </add>
                </listeners>
            </source>
        </sources>
        <sharedListeners>
            <add initializeData="C:\Users\Administrator\Documents\dpwsGW\NodeDiscovery_MS\NodeDiscovery\app_tracelog.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
            <add initializeData="c:\users\administrator\documents\dpwsgw\nodediscovery_ms\nodediscovery\app_messages.svclog"
                type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
                <filter type="" />
            </add>
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
      <bindings>
        <customBinding>
          <binding name="SensorValuesBinding">
            <compositeDuplex />
            <oneWay />
            <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
              messageVersion="Soap12WSAddressingAugust2004" writeEncoding="utf-8">
              <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            </textMessageEncoding>
            <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
              maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
              bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
              keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
              realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
              useDefaultWebProxy="true" />
          </binding>
          <binding name="AccelerationServiceSOAP">
            <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
              messageVersion="Soap12" writeEncoding="utf-8">
              <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            </textMessageEncoding>
            <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
              maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
              bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
              keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
              realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
              useDefaultWebProxy="true" />
          </binding>
          <binding name="DeviceInfoServiceSOAP">
            <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
              messageVersion="Soap12" writeEncoding="utf-8">
              <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                maxBytesPerRead="4096" maxNameTableCharCount="16384" />
            </textMessageEncoding>
            <httpTransport manualAddressing="false" maxBufferPoolSize="524288"
              maxReceivedMessageSize="65536" allowCookies="false" authenticationScheme="Anonymous"
              bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
              keepAliveEnabled="true" maxBufferSize="65536" proxyAuthenticationScheme="Anonymous"
              realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
              useDefaultWebProxy="true" />
          </binding>
        </customBinding>
      </bindings>     
      <client>
        <endpoint address="http://localhost:8080/" binding="customBinding"
          bindingConfiguration="SensorValuesBinding" contract="WSEventing.EventSource"
          name="WSEventing" />
        <endpoint address="http://localhost:8080/" binding="customBinding"
          bindingConfiguration="SensorValuesBinding" contract="WSEventing.SubscriptionManager"
          name="WSEventingUnsubscribe" />
        <endpoint address="http://localhost:8080/" binding="customBinding"
          bindingConfiguration="SensorValuesBinding" contract="AccelerationModel.AccelerationService"
          name="AccelerationService" />
        <endpoint address="http://localhost:8080" binding="customBinding"
          bindingConfiguration="SensorValuesBinding" contract="DeviceInfoService.DeviceInfoService"
          name="DeviceInfoService" />
        <endpoint address="http://localhost:8080" binding="customBinding"
          bindingConfiguration="SensorValuesBinding" contract="DataLogging.DataLoggingService"
          name="DataLoggingService" />
      </client>
      <diagnostics>
        <messageLogging logEntireMessage="true" logMalformedMessages="true"
          logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
          maxMessagesToLog="3000" maxSizeOfMessageToLog="50000" />
        <endToEndTracing activityTracing="false" messageFlowTracing="true" />
      </diagnostics>

      <behaviors>
        <serviceBehaviors>
          <behavior name="DiscoveryBehavior">
            <serviceDiscovery>
              <announcementEndpoints>
                <endpoint name="udpEndpointName" kind="udpAnnouncementEndpoint"/>
              </announcementEndpoints>
            </serviceDiscovery>
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
  

</configuration>